.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#box-field {
  display: inline-block;
  width: 70%;
  border: white;
}


.leaflet-container{ 
  height: 100%; 
  width: 100%
}

#FlightMap{
    height: 400px;
    width: 100%;
    display: flex;
}




.Chat-Container{
  height: 300px;
  overflow: scroll;
}

.body {
  background-color: #323844;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


